body{
font-family:Arial,Helvetica,sans-serif;
margin:0;
background:#0f172a;
color:white;
}

header{
padding:80px;
text-align:center;
background:#1e293b;
}

.button{
display:inline-block;
margin:10px;
padding:12px 20px;
background:#3b82f6;
color:white;
text-decoration:none;
border-radius:6px;
}

section{
padding:60px;
}

.profile{
width:180px;
border-radius:50%;
}

.skills{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(150px,1fr));
gap:20px;
}

.skills div{
background:#1e293b;
padding:20px;
text-align:center;
border-radius:8px;
}

.card{
background:#1e293b;
padding:20px;
margin:20px 0;
border-radius:10px;
}

footer{
text-align:center;
padding:30px;
background:#020617;
}
